{% extends 'base.html' %}
{% load static %}
{% block content %}
	<section class="bg0 p-t-23 p-b-130">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Item Overview
				</h3>
			</div>
			<div class="row isotope-grid">

				{% for item in items %}
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{item.category.category}}">
					<div class="block2">
						<div class="block2-pic hov-img0">
							<div data-caption="Women’s Wear" style="background-image: url('{{item.url}}'); height:300px; width: 100%; background-size:cover">&nbsp;</div>

						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<span class="stext-105 cl3">
									{{item.category}}
								</span>
								
								<a href="{% url 'detail' slug=item.slug %}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									{{ item.item_name }}
								</a>

								<span class="stext-105 cl3">
									${{item.current_price}}
								</span>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock content %}