<!DOCTYPE html>
<html>
    <head>
        <title>Add Item</title>
        <script src="/static/js/add_item.js"></script>
        <script>
            // The test about select
            function selectTest() {
                var myselect = document.getElementById("selector");
                var index = myselect.selectedIndex;
                var num = myselect.options[index].value;
                alert("Your rating: " + num.toString());
            }
        </script>
    </head>
    <body>
    <div>
        <h2>Add Item</h2>
        <form>
            <p>Item Name: <input type="text"/></p>
            <p>Start Price: <input type="text"/></p>
            <p>Start Time: <input type="datetime-local"/></p>
            <p>Expiration Time: <input type="datetime-local"/></p>
            <p>Quantity: <input type="number"/></p>
            <p>Shipping Costs: <input type="text"/></p>
            <p>Item Description: </p>
            <textarea rows="8" cols="42"></textarea>
            <p>Seller Rating: 
                <select id="selector" onchange="selectTest()">
                    <option>--Please choose a rating--</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </p>
            <input type="submit" value="Add Item"/>
        </form>
    </div>
    </body>
</html>
