<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
  <!-- {% block head %}
  {% endblock head %} -->
  <head>
    <!-- <script type="text/javascript" src="/my_admin/jsi18n/"></script>
<script type="text/javascript" src="/media/admin/js/core.js"></script>

<link rel="stylesheet" type="text/css" href="/media/admin/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/media/admin/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/media/admin/css/global.css"/>
<link rel="stylesheet" type="text/css" href="/media/admin/css/widgets.css"/> -->
       <link rel="stylesheet" href=  
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
    <script src=  
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">  
    </script>  
        
    <script src=  
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">  
    </script>  
        
    <script src=  
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">  
    </script> 
    <title>Auction Site</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link
      rel="icon"
      type="image/png"
      href="../static/images/icons/favicon.png"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/styles.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/fonts/iconic/css/material-design-iconic-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/fonts/linearicons-v1.0.0/icon-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/vendor/animate/animate.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/vendor/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static 'vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/vendor/daterangepicker/daterangepicker.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/vendor/slick/slick.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/vendor/MagnificPopup/magnific-popup.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/vendor/perfect-scrollbar/perfect-scrollbar.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/css/util.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script><!--===============================================================================================-->
    <style>
      .hov-btn2:hover {
        background-color: #717fe0 !important;
        color: #fff !important;
      }

      .value {
        color: #4b4b4b;
        font-size: 40px;
      }

      .my-label {
        letter-spacing: 2px;
        text-transform: uppercase;
        color: rgb(214, 214, 214);
        font-size: 15px;
      }
      .btn-circle.btn-md { 
            width: 50px; 
            height: 50px; 
            padding: 7px 10px; 
            border-radius: 25px; 
            font-size: 10px; 
            text-align: center; 
          }
          /* {% block style %}
          {% endblock style %} */
    </style>
  </head>
  <body class="animsition">
    <header class="header-v2">
      <div class="container-menu-desktop trans-03">
        <div class="wrap-menu-desktop">
          <nav class="limiter-menu-desktop p-l-45">
            <div class="menu-desktop">
              <ul class="main-menu">
                <li 
                {% if page == "home" %}
                class="active-menu"
                {% endif %}
                >
                  <a href="{% url 'home' %}">Home</a>
                </li>
                <li
                {% if page == "sell" %}
                class="active-menu"
                {% endif %}
                >
                  <a href="{% url 'myProducts' %}">Sell</a>
                </li>
                
                <li
                {% if page == "cart" %}
                class="active-menu"
                {% endif %}
                >
                  <a href="{% url 'cart' %}">Cart</a>
                </li>
              </ul>
            </div>

            <div class="wrap-icon-header flex-w flex-r-m h-full">
              <div class="flex-c-m h-full p-r-24">
                </div>
              </div>
              <div class="flex-c-m h-full p-r-24">
                <div
                  class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 js-show-modal-search"
                >
                  <i class="zmdi zmdi-search"></i>
                </div>
              </div>
              <!-- {% if page != 'login' and page != 'signup' and request.user.is_authenticated %} -->
              <div class="flex-c-m h-full p-l-18 p-r-25 bor5">
                <div
                  class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart"
                  data-notify="{{cart.count}}"
                  id="cart-no"
                >
                  <i class="zmdi zmdi-shopping-cart"></i>
                </div>
              </div>
              <div class="flex-c-m h-full p-lr-19">
                <div
                  class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 js-show-sidebar"
                >
                  <i class="zmdi zmdi-menu"></i>
                </div>
              </div>
              <!-- {% else %} -->
              <!-- <a href="{% url 'logout' %}" class="stext-102 cl2 hov-cl1 trans-04">
                Login
              </a> -->
              <!-- {% endif %} -->
            </div>
          </nav>
        </div>
      </div>

      <div class="wrap-header-mobile">
        <div class="wrap-icon-header flex-w flex-r-m h-full m-r-15">
          <div class="flex-c-m h-full p-r-10">
            <div
              class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 js-show-modal-search"
            >
              <i class="zmdi zmdi-search"></i>
            </div>
          </div>

          <div class="flex-c-m h-full p-lr-10 bor5">
            <div
              class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart"
              data-notify="2"
              id="cart-no"
            >
              <i class="zmdi zmdi-shopping-cart"></i>
            </div>
          </div>
        </div>
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </div>
      </div>
      <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
        <div class="container-search-header">
          <button
            class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search"
          >
            <img
              src="../static/images/icons/icon-close2.png"
              alt="CLOSE"
            />
          </button>

          <form method="get" action="{% url 'shop' %}" class="wrap-search-header flex-w p-l-15">
          <!-- {% csrf_token %} -->
            <button class="flex-c-m trans-04">
              <i class="zmdi zmdi-search"></i>
            </button>
            <input
              class="plh3"
              type="text"
              name="q"
              placeholder="Search..."
            />
          </form>
        </div>
      </div>
    </header>

    <!-- Sidebar -->
    <aside class="wrap-sidebar js-sidebar">
      <div class="s-full js-hide-sidebar"></div>

      <div class="sidebar flex-col-l p-t-22 p-b-25">
        <div class="flex-r w-full p-b-30 p-r-27">
          <div
            class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-sidebar"
          >
            <i class="zmdi zmdi-close"></i>
          </div>
        </div>

        <div class="sidebar-content flex-w w-full p-lr-65 js-pscroll">
          <ul class="sidebar-link w-full">
            <li class="p-b-13">
              <a href="{% url 'logout' %}" class="stext-102 cl2 hov-cl1 trans-04">
                Logout
              </a>
            </li>
            {% if request.user.id %}
            <li class="p-b-13">
              <a href="{% url 'profile' id=request.user.id %}" class="stext-102 cl2 hov-cl1 trans-04">
                My Profile
              </a>
            </li>
            {% endif %}
            <li class="p-b-13">
              <a href="{% url 'logout' %}" class="stext-102 cl2 hov-cl1 trans-04" onclick="deleteUser()">
                Delete User
              </a>
            </li>

            <li class="p-b-13">
              <a href="{% url 'logout' %}" class="stext-102 cl2 hov-cl1 trans-04" onclick="suspendUser()">
                Suspend User
              </a>
            </li>
          </ul>
        </div>
      </div>
    </aside>

    <!-- Cart -->
    <div class="wrap-header-cart js-panel-cart">
      <div class="s-full js-hide-cart"></div>

      <div class="header-cart flex-col-l p-l-65 p-r-25">
        <div class="header-cart-title flex-w flex-sb-m p-b-8">
          <span class="mtext-103 cl2">
            Your Cart
          </span>

          <div
            class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart"
          >
            <i class="zmdi zmdi-close"></i>
          </div>
        </div>

        <div class="header-cart-content flex-w js-pscroll">
          <ul class="header-cart-wrapitem w-full">
            {% for item in request.user.items_bought.all %}
            <li class="header-cart-item flex-w flex-t m-b-12">
              <div class="header-cart-item-img">
                <img src="{{item.item_images.first.image.url}}" alt="IMG" />
              </div>

              <div class="header-cart-item-txt p-t-8">
                <a
                  href="#"
                  class="header-cart-item-name m-b-18 hov-cl1 trans-04"
                >
                  {{item.item_name}}
                </a>

                <span class="header-cart-item-info">
                  $ <span class="cart-item-price">{{item.current_price}}</span>
                </span>
              </div>
            </li>
            {% endfor %}
          </ul>

          <div class="w-full">
            <div class="header-cart-total w-full p-tb-40">
              Total: $ {{cart.total}}
            </div>

            <div class="header-cart-buttons flex-w w-full">
              <a
                href="{% url 'cart' %}"
                class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10"
              >
                View Cart
              </a>
              <p> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- {% block content %} {% endblock content %} -->
    <!--===============================================================================================-->
    <script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="../static/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="../static/vendor/bootstrap/js/popper.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="../static/vendor/select2/select2.min.js"></script>
    <script>
      $(".js-select2").each(function () {
        $(this).select2({
          minimumResultsForSearch: 20,
          dropdownParent: $(this).next(".dropDownSelect2"),
        });
      });
    </script>
    <!--===============================================================================================-->
    <script src="../static/vendor/daterangepicker/moment.min.js"></script>
    <script src="../static/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="../static/vendor/slick/slick.min.js"></script>
    <script src="../static/js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script src="../static/vendor/parallax100/parallax100.js"></script>
    <script>
      $(".parallax100").parallax100();
    </script>
    <!--===============================================================================================-->
    <script src="../static/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <script>
      $(".gallery-lb").each(function () {
        // the containers for all your galleries
        $(this).magnificPopup({
          delegate: "a", // the selector for gallery item
          type: "image",
          gallery: {
            enabled: true,
          },
          mainClass: "mfp-fade",
        });
      });
    </script>
    <!--===============================================================================================-->
    <script src="../static/vendor/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="../static/vendor/sweetalert/sweetalert.min.js"></script>
    <script>
      $(".js-addwish-b2").on("click", function (e) {
        e.preventDefault();
      });

      $(".js-addwish-b2").each(function () {
        var nameProduct = $(this).parent().parent().find(".js-name-b2").html();
        $(this).on("click", function () {
          swal(nameProduct, "is added to wishlist !", "success");

          $(this).addClass("js-addedwish-b2");
          $(this).off("click");
        });
      });

      $(".js-addwish-detail").each(function () {
        var nameProduct = $(this)
          .parent()
          .parent()
          .parent()
          .find(".js-name-detail")
          .html();

        $(this).on("click", function () {
          swal(nameProduct, "is added to wishlist !", "success");

          $(this).addClass("js-addedwish-detail");
          $(this).off("click");
        });
      });

      /*---------------------------------------------*/

      $(".js-addcart-detail").each(function () {
        var nameProduct = $(this)
          .parent()
          .parent()
          .parent()
          .parent()
          .find(".js-name-detail")
          .html();
        $(this).on("click", function () {
          swal(nameProduct, "is added to watch list !", "warning");
        });
      });
    </script>
    <!--===============================================================================================-->
    <script src="../static/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
      $(".js-pscroll").each(function () {
        $(this).css("position", "relative");
        $(this).css("overflow", "hidden");
        var ps = new PerfectScrollbar(this, {
          wheelSpeed: 1,
          scrollingThreshold: 1000,
          wheelPropagation: false,
        });

        $(window).on("resize", function () {
          ps.update();
        });
      });
    </script>
    <!--===============================================================================================-->
    <script>
      updateTotal();
      function updateTotal() {
        var sum = 0;
        $(".cart-item-price").each(function () {
          sum += parseInt($(this).text()); // Or this.innerHTML, this.innerText
        });
        $(".cart-total").html(sum);
      }
    </script>
    <!--===============================================================================================-->
    <script src="../static/reconnecting-websocket.js"></script>
    <script>
      function deleteUser() {
        alert("Delete user successfully!");
      }
    </script>
    <script>
      function suspendUser() {
        alert("Suspend user successfully!");
      }
    </script>
  </body>

  <!-- {% block script %} {% endblock script %} {% block css %} {% endblock css %} -->
  <!-- modal1 -->
  <div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
    <div class="overlay-modal1 js-hide-modal1" onclick="close()"></div>

    <div class="container">
      <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
        <div class="row" style="align-items: center;">
          <div class="col-md-6 col-lg-7 p-b-30">
            <div class="p-l-25 p-r-30 p-lr-0-lg">
              <div class="wrap-slick3 flex-sb flex-w">
                <div class="wrap-slick3-dots"></div>
                <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<script type="text/javascript">
document.getElementById("id_start").type="datetime-local";
</script>
<script type="text/javascript">
document.getElementById("id_cap").type="datetime-local";
</script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/slick-custom.js"></script>

</html>
