{% extends 'base.html' %} {% load static %}
<!---->
{% block style %}
<!---->
input, textarea, label { display: initial; } textarea { width:
-webkit-fill-available; }
<!---->
{% endblock style%} {% block content %}

<div style="text-align: center;" class="container">
  <div class="row p-t-50">
    <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
      <div
        class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm"
      >
        <div
          class="flex-w flex-t p-b-68"
          style="
            display: block;
            padding: 10px 0 0 0;
            vertical-align: middle;
            cursor: pointer;
          "
        >
          <div
            style="
              height: 170px;
              width: 170px;
              text-align: center;
              margin: auto;
            "
            class="wrap-pic-s bor0 of-hidden m-r-18 m-t-6"
          >
            <img src="{{user.image.url}}" alt="Avatar" height="40px" />
          </div>

          <div class="bor12" style="text-align: center;">
            <h4
              style="padding-top: 30px; font-size: 30px;"
              class="mtext-109 cl2"
            >
              {{user.first_name}} {{user.last_name}}
            </h4>
            <div
              class="flex-w flex-sb-m p-b-17"
              style="text-align: center; padding-bottom: 7px !important;"
            >
              <div style="margin: auto;" class="fs-18 cl11">
                <i class="zmdi zmdi-star"></i>
                <i class="zmdi zmdi-star"></i>
                <i class="zmdi zmdi-star"></i>
                <i class="zmdi zmdi-star-half"></i>
                <i class="zmdi zmdi-star-outline"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="flex-w flex-t p-t-30 p-b-13">
          <div style="display: contents;" class="size-208">
            <span style="margin: auto;" class="stext-110 cl2">
              <ion-icon name="mail-outline"></ion-icon>
            </span>
            <span style="margin: auto;" class="mtext-110 cl2">
              {{user.email}}
            </span>
          </div>
        </div>

        <div class="flex-w flex-t p-t-30 p-b-30">
          <div style="display: contents;" class="size-208">
            <span style="margin: auto;" class="stext-110 cl2">
              <ion-icon name="person-outline"></ion-icon>
            </span>
            <span style="margin: auto;" class="mtext-110 cl2">
              Member since {{user.date_joined | timesince}}
            </span>
          </div>
        </div>
        {% if user == request.user %}
        <button
          style="display: inline-flex;"
          class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04"
          data-toggle="modal"
          data-target="#myModal"
        >
          Edit profile
        </button>
        {% endif %}
      </div>
    </div>

    <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
      <div class="container">
        <div class="flex-w flex-sb-m p-b-52">
          <!-- Search Item -->
          <div class="dis-none panel-search w-full p-t-10 p-b-15">
            <div class="bor8 dis-flex p-l-15">
              <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                <i class="zmdi zmdi-search"></i>
              </button>

              <input
                class="mtext-107 cl2 size-114 plh2 p-r-15"
                type="text"
                name="search-product"
                placeholder="Search"
              />
            </div>
          </div>
        </div>

        <br />
        {% if query %}
        <h4 class="mtext-105 cl2 js-name-detail p-b-14">
          {{query}}
        </h4>
        {% endif %}
        <div class="row isotope-grid">
          {% for item in items %}
          <div
            class="col-sm-6 col-md-4 col-lg-6 p-b-35 isotope-item {{item.category.category}}"
          >
            <!-- Block2 -->
            <div class="block2">
              <div class="block2-pic hov-img0">
                <div
                  data-caption="Women’s Wear"
                  style="background-image: url('{{item.item_images.first.image.url}}'); height:300px; width: 100%; background-size:cover"
                >
                  &nbsp;
                </div>

                <!-- <a
                  href="#"
                  class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
                >
                  Quick View
                </a> -->
              </div>

              <div class="block2-txt flex-w flex-t p-t-14">
                <div class="block2-txt-child1 flex-col-l">
                  <a
                    href="{% url 'detail' slug=item.slug %}"
                    class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
                  >
                    {{ item.item_name }} {% if item.auction_status == "live" %}
                    <div class="live-badge">LIVE</div>
                    {% endif %}
                  </a>
                  <span class="stext-105 cl3">
                    ${{item.current_price}}
                  </span>
                </div>

                <div class="block2-txt-child2 flex-r p-t-3">
                  <a
                    href="#"
                    class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
                  >
                    <!-- <img
                      class="icon-heart1 dis-block trans-04"
                      src="{% static 'images/icons/icon-heart-01.png' %}"
                      alt="ICON"
                    />
                    <img
                      class="icon-heart2 dis-block trans-04 ab-t-l"
                      src="{% static 'images/icons/icon-heart-02.png' %}"
                      alt="ICON"
                    /> -->
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Pagination -->
        <!-- <div class="flex-c-m flex-w w-full p-t-38">
          {% for n in pages|get_range %}
          <a
            href="?page={{n}}"
            class="flex-c-m how-pagination1 trans-04 m-all-7 {% if n == current %} active-pagination1 {% endif %}"
          >
            {{n}}
          </a>
          {% endfor %}
        </div> -->
      </div>
    </div>
  </div>
  <!-- Back to top -->
  <div class="btn-back-to-top" id="myBtn">
    <span class="symbol-btn-back-to-top">
      <i class="zmdi zmdi-chevron-up"></i>
    </span>
  </div>

  <!-- Modal -->

  <div id="myModal" class="modal fade" role="dialog">
    <div style="display: flex;" class="modal-dialog">
      <!-- Modal content-->
      <div style="margin-top: 120px;" class="modal-content">
        <div class="modal-body">
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %} {% for field in form %}

            <div class="flex-w flex-t p-b-13">
              <div class="size-208">
                <span class="stext-110 cl2">
                  {{ field.errors }} {{ field.label_tag }}
                </span>
              </div>

              <div class="size-209">
                <span class="cl2">
                  {{ field }}
                  <!---->
                  {% if field.help_text %}
                  <p class="help">{{ field.help_text|safe }}</p>
                  {% endif %}
                </span>
              </div>
            </div>
            {% endfor %}

            <button
              style="display: inline-flex;"
              class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04"
              type="submit"
            >
              Save
            </button>
          </form>
        </div>
      </div>
      <button
        style="height: fit-content; color: #ffffffab; margin-top: 130px;"
        type="button"
        class="btn btn-default"
        data-dismiss="modal"
      >
        X
      </button>
    </div>
  </div>
  {% endblock content %}
</div>
