<!DOCTYPE html>
<html>
    <head>
        <title>Purchase Item</title>
        <script>
            // The test about item ID
            function idTest() {
                var id = document.getElementById("item-id").value;
                alert("Is " + id.toString() + " the correct item ID?");
            }
        </script>
    </head>
    <body>
    <div>
        <h2>Purchase Item</h2>
        <form>
            <p>Item Name: <input type="text"/></p>
            <p>Item ID: <input type="text" id="item-id" onchange="idTest()"/></p>
            <p>Purchase Price: <input type="text"/></p>
            <input type="submit" value="Purchase Item"/>
        </form>
    </div>
    </body>
</html>
