<!DOCTYPE html>
<html>
    <head>
        <title>Remove Item</title>
        <script>
            // The test about item name
            function nameTest() {
                var name = document.getElementById("item-name").value;
                alert("Do you want to remove " + name.toString() + "?");
            }
        </script>
    </head>
    <body>
    <div>
        <h2>Remove Item</h2>
        <form>
            <p>Item Name: <input type="text" id="item-name" onchange="nameTest()"/></p>
            <p>Item ID: <input type="text"/></p>
            <input type="submit" value="Remove Item"/>
        </form>
    </div>
    </body>
</html>
