<!-- {% extends 'base.html' %} {% load static %} {% block content %} -->
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href=  
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
    <script src=  
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">  
    </script>  
        
    <script src=  
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">  
    </script>  
        
    <script src=  
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">  
    </script> 
    <title>Auction Site</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link
      rel="icon"
      type="image/png"
      href="../static/images/icons/favicon.png"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/styles.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/fonts/iconic/css/material-design-iconic-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/fonts/linearicons-v1.0.0/icon-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/vendor/animate/animate.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/vendor/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static 'vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/vendor/daterangepicker/daterangepicker.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/vendor/slick/slick.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/vendor/MagnificPopup/magnific-popup.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/vendor/perfect-scrollbar/perfect-scrollbar.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/css/util.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script><!--===============================================================================================-->
    <style>
      .hov-btn2:hover {
        background-color: #717fe0 !important;
        color: #fff !important;
      }

      .value {
        color: #4b4b4b;
        font-size: 40px;
      }

      .my-label {
        letter-spacing: 2px;
        text-transform: uppercase;
        color: rgb(214, 214, 214);
        font-size: 15px;
      }
      .btn-circle.btn-md { 
            width: 50px; 
            height: 50px; 
            padding: 7px 10px; 
            border-radius: 25px; 
            font-size: 10px; 
            text-align: center; 
          }
          /* {% block style %}
          {% endblock style %} */
    </style>
</head>

<body>
	<section class="bg0 p-t-20 p-b-20">
		<div class="container">
			<div class="bor10 row">
				<div class="col-md-6 col-lg-6" style="background-image:url('../static/images/paintings.jpg'); background-size:cover; background-position-x: center;">
				</div>
				<div class="col-md-6 col-lg-6 p-b-80 p-l-80 p-r-80">
		 			<!--  -->

						<div class="p-t-40" style="text-align: center;">
							<h5 class="mtext-113 cl2 p-b-12">
								Get Started!
							</h5>

							<form method="POST" action="">
							<!-- {% csrf_token %} -->
								<!-- div class="bor19 m-b-20">
									<textarea class="stext-111 cl2 plh3 size-124 p-lr-18 p-tb-15" name="cmt" placeholder="Comment..."></textarea>
								</div> -->

								<div class="bor19 m-b-20" id="alignlogin">
									<input class="stext-111 cl2 plh3 size-116 p-lr-18" type="text" name="f_name" placeholder="First Name">
								</div>
								
								<div class="bor19 m-b-20" id="alignlogin">
									<input class="stext-111 cl2 plh3 size-116 p-lr-18" type="text" name="l_name" placeholder="Last Name">
								</div>

								<div class="bor19 m-b-20" id="alignlogin">
									<input class="stext-111 cl2 plh3 size-116 p-lr-18" type="email" name="email" placeholder="Enter Email">
								</div>

								<div class="bor19 m-b-20" id="alignlogin">
									<input class="stext-111 cl2 plh3 size-116 p-lr-18" type="password" name="password1" placeholder="Enter Password">
								</div>

								<div class="bor19 m-b-20" id="alignlogin">
									<input class="stext-111 cl2 plh3 size-116 p-lr-18" type="password" name="password2" placeholder="Confirm Password">
								</div>

								<button style="margin:auto;" type="submit" name="signup-submit" class="flex-c-m stext-101 cl0 size-125 bg3 bor2 hov-btn3 p-lr-15 trans-04" id="alignlogin">
									Join
								</button>
								<div class="p-t-20">
								<span class="m-l-20">Already have an account?</span>
								<a href="{% url 'login' %}" class="stext-102 cl2 hov-cl1 trans-04" style="width:40px;">Login</a>
								</div>
							</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
<!-- {% endblock content %} -->